<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/styles') %>
    <title>Card Directory | Yu-Gi-Oh! Fantasy Collection!</title>
</head>

<body class="navyBlue">
    <div class="flexColumn">
        <%- include('./partials/headerPinkBtn') %>

        <div class="headingAndButton">
            <h1 class="topLeft">Featured Cards</h1>
            <a href="/yugioh/new" class="buttonPink">Create New Card</a>
        </div>

        <ul>
            <% cards.forEach(card => { %>
            <li class="tile"><a href="/yugioh/<%= card._id %> ">
                    <div class="tileRow">
                        <div class="tileColumn">
                            <img src="<%=card.img%>">

                        </div>
                        <div class="tileFlexColumn">
                            <p><i>Yu-Gi-Oh!</br><%= card.boxSet; %></i></p>
                            <p><%= card.rarity; %></br><span class="tileEm"><%= card.name; %></span></p>
                            <p>Market Price Placeholder</br><span>Price</span></p>
                            <p><%= cardData[0].card_sets[0].set_name %> </p>
                        </div>
                    </div>
                </a></li>
            <% }); %>
        </ul>

        <!-- Testing API Start -->

        <!-- <ul>
            <% for(let i = 0; i < cardData.length; i++ ) { %>
            
            <li class="tile">
                        
                <div class="tileRow">
                    <div class="tileColumn">
                    <% if (cardData[i].card_images) { %>
                     <img src="/public/cardImg/<%=cardData[i].id%>.jpg">
                    <% } %>
                          
                        </div>
                       
                    
                    <div class="tileFlexColumn">
                        <% if (cardData[i].card_sets) { %>
                        <p><i>Yu-Gi-Oh!</br><%=cardData[i].card_sets[0].set_name%></i></p>
                     
                        <p><%= cardData[i].card_sets.set_rarity; %></br><span
                                class="tileEm"><%= cardData[i].name; %></span></p>
                        <p>Market Price</br><span><%= cardData[i].card_sets.set_price; %></span></p>
                        <% } %> 
                    </div>
                </div>
                
                <% } %>
            </li>
           
        </ul> -->

        <!-- Testing API END -->

    </div>
</body>

</html>