<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/styles') %>
    <title>My Card Collection | Yu-Gi-Oh! Fantasy Collection!</title>
</head>

<body class="navyBlue">
    <div class="flexColumn">
        <%- include('../partials/headerPinkBtnMyCards') %>

        <div class="headingAndButton">
            <h1 class="topLeft">My Cards</h1>
            <a href="/yugioh/new" class="buttonPink">Create New Card</a>
        </div>
        <div class="tiles-container">
        <ul>
            
            <% cards.forEach(card => { %>
            <li class="tile"><a tabindex="-1" href="/yugioh/mycards/<%= card._id %> " aria-hidden="true">
                    <div class="tileRow">
                        <div class="tileColumn">
                            <% if(card.img){ %> 
                            <img src="<%=card.img %>" alt="">
                            <% } else { %>
                                <img src="<%=card.src%>" alt="">
                                   
                                    <% } %> 
                        </div>
                        <div class="tileFlexColumn">
                            
                        </a>
                        <p><i>Yu-Gi-Oh!</br><%= card.boxSet; %></i></p>
                            <p><%= card.rarity; %></br><span class="tileEm"><%= card.name; %></span></p>
                            <p style="font-weight:700;">Market Price as low as: </br><span style="font-size: 25px;"> $<%= card.price %></span></p>
                            <a class="details" href="/yugioh/mycards/<%= card._id %> ">See Details <span class="visually-hidden"> about <%= card.name %> </span></a>
                            <form action="/yugioh/mycards/<%= card.id %>?_method=DELETE" method="POST">
                                <% console.log(card.id) %> 
                                <input class="buttonBlue submitButton smallSubmit" type="submit" value="Remove" aria-label="remove <%= card.name %> from my cards">
                            </form>
                        </div>
                    </div>
               </li>
            <% }); %>
           
        </ul>
    </div>
    </div>
</body>

</html>