<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/styles') %>
    <title>My Cards | About <%= card.name %> | Yu-Gi-Oh! Fantasy Collection!</title>
</head>
<body class="pink">
    <%- include("../partials/headerBlueBtnMyCards") %>
    <div class="showRow">
        <div class="showImgAndDesc">
            <% if(card.img){ %> 
                <img src="<%=card.img %>" alt="">
                <% } else { %>
                    <img src="<%=card.src%>">
                        <% } %> 
            <div class="columnMid">
    <h1><%= card.name %> </h1>
    <p><%= card.boxSet %> </p>
    <h2>Product Details</h2>
    <p><%= card.cardDescription %> </p>
    <ul>
        <li><b>Number:</b> <%= card.boxSet %></li>
        <li><b>Rarity:</b> <%= card.rarity %></li>
        <li><b>Card Type:</b> <%= card.cardType %></li>
        <% if(card.attack) {%>
            <li><b>Attack:</b> <%= card.attack %> </li> 
            <li><b>Defense:</b> <%= card.defense %> </li> 
            <% } %> 

    </ul>
</div>
</div>

    <div class="priceContainer"> 
        <div class="priceContainerInside">
    <h2>Via TCGPlayer</h2>
    <p>Lightly Played or Near Mint</p>
    <p><strong>Starting from $<%= card.price %> </strong> <br>Free shipping on orders over $50</p>
    <div class="addToMyCards">
        <form action="/yugioh/mycards/<%= card.id %>?_method=DELETE" method="POST">
            <input class="buttonBlue submitButton wideButton" type="submit" value="Remove from My Cards">
        </form>
</div>
</div>
</div>
</div>
    <div class="returnLink">
    <a href="/yugioh">Return to Card Directory</a>
</div>
</div>
</body>
</html>